*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    background-color: white;
    min-height: 100vh;
    border: 10px solid black;
}

.content{
    max-width: 900px;
    margin: 0 auto;
}

.top_section{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.top_section,h1{
    font-size: 50px;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
}

.top_section,h4{
    text-align: end;
    font-size: 30px;
}

.image,img{
    width: 300px;
    height: 340px;
    border-radius: 50%;
    overflow: hidden;
}

.about{
    margin-top: 50px;
}

.about,h2{
    font-size: 60px;
    font-weight: 400;
    margin-bottom: 20px;
}

.about,p{
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.8px;
}